<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
  font-family: sailec, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: sailec,Arial, Helvetica, sans-serif;
}

/* Style the top bar */
.topnav {
  background: #FFFFFF;
  width: 308px;
  height: 70px;
  display: block;
  margin-left: 60px;
}

/* Style the Button */
.buttons {
    text-align: center;
}

/* Change Button Color on Hover */
.btn-hover.color-7 {
    background-image: linear-gradient(90deg, #5466EC 14.12%, #D94761 90.2%);
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

/* Style the Slider */
.slider {
  -webkit-appearance: none;
  width: 262px;
  height: 17px;
  background: linear-gradient(90deg, #5466EC 14.12%, #D94761 90.2%);
  border-radius: 25px;
  outline: none;
  opacity: 1.0;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #5664E8;
}


/* Style the top content */
.content_top {
  padding: 10px;
  width: 308px;
  height: 140px;
  background: #263579;
  color: #FFFFFF;
  text-align:center;
}

.text_top_1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 10px;
}

.text_top_2 {
  line-height: 15px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #5466EC;
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.active.focus, button.active:focus,
button.focus, button:active.focus, 
button:active:focus, button:focus {
  outline: none;
  box-shadow: none;
}

/* Style Top 2nd text on hover */
.text_top_2:hover {
  color: #FFFFFF;
}

/* Style the bottom content */
.content_bottom {
  padding: 10px;
  width: 308px;
  height: 157px;
  background: #FFFFFF;
}

/* Style the bottom text */
.text_bottom {
  font-family: Sailec;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #263579;
  text-align: center;
  margin-top:0%;
}

/* Style the bottom text on hover */
.text_bottom:hover {
  text-decoration-line: underline;
  cursor: pointer;
  transition: 0.4s;
}

/* Style the footer */
.footer {
  padding: 10px;
  width: 308px;
  height: 55px;
  background: #263579;
  font-family: Sailec;
  font-style: italic;
  font-weight: 200;
  font-size: 10px;
  line-height: 5px;
  color: #FFFFFF;
  text-align: center;
}

</style>
</head>
</html>